.col-md-12.item
  .thumbnail.hoverable
    = image_tag document.image.thumb.url, class: "img-responsive height-150"
    .profile-detail.padding-bottom-0
      .profile-info.margin-20
        %ul.list-unstyled.list-justify
          %li.text-muted
            = link_to document.name.truncate(20), document_path(document.id), data:{ toggle: "tootip"}, title: document.name                                                       
          %li.text-info
            Thể loại:
            = link_to(document.category.name.truncate(15), category_path(document.category))     
          %li.text-muted
            = load_language document.language  
            = fa_icon load_icon(document.type_doc), text: document.type_doc
            = link_to '<i class="fa fa-download" aria-hidden="true" data-toggle="tooltip" title="tải xuống ngay"></i>'.html_safe,
            asset_path(document.source_file), download: document.source_file
            
