 <li>
  <a href="#subPages-<%= category.id %>" data-toggle="collapse" class="collapsed">
    <i class="lnr <%= category.category_icon %>"></i> 
    <span><%= category.name %> </span> <i class="icon-submenu lnr lnr-chevron-left"></i>
  </a>
  <div id="subPages-<%= category.id %>" class="collapse ">
    <ul class="nav">
      <%= render partial: 'shared/sub_category', collection: load_sub_category(category.id), as: :sub_category %>
    </ul>
  </div>
</li>
