%li
  %a.collapsed{"data-toggle" => "collapse", :href => "#subCategory-#{category.id}"}
    %i{class: "lnr #{category.category_icon}"}
    %span
      = category.name
    %i.icon-submenu.lnr.lnr-chevron-right
  .collapse{id: "subCategory-#{category.id}"}
    %ul.nav
      = render partial: 'shared/sub_category', collection: load_sub_category(category.id), as: :sub_category
