%nav.navbar.navbar-default.navbar-fixed-top
  .brand
    %a#root_path{href: "/"}
      = image_tag 'logo', class: "img-responsive logo"
  .container-fluid
    = search_form_for @q, class: "navbar-form navbar-left" do |f|
      .input-group
        = f.search_field :name_cont_all, class: "form-control width-400", placeholder: "Bạn đang tìm kiếm gì?", id: "autocomplete"
        %span.input-group-btn
          = f.submit "Tìm kiếm", class: "btn btn-primary"       
    .navbar-btn.navbar-btn-right.padding-20
      - unless current_user
        = link_to('<i class="fa fa-pencil" aria-hidden="true"></i> Đăng kí'.html_safe, new_user_registration_path,
            class: "btn btn-info")    
        = link_to('<i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập'.html_safe, new_user_session_path, 
            class: "btn btn-info")
    - if current_user
      #nav-menu
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
              - if current_user.avatar.present?
                = image_tag current_user.avatar.url, class: 'img-circle width-height-30'
              - else
                = image_tag "user-default", class: 'img-circle width-height-30'
              %span 
                - if current_user.name.present?
                  = current_user.name
                - else
                  Người dùng  
              %i.icon-submenu.lnr.lnr-chevron-down
            %ul.dropdown-menu
              %li
                %a{:href => "#", data: {toggle: "modal", target: "#myModal"}}
                  %i.lnr.lnr-user
                  %span Thông tin của tôi
              %li
                = link_to('<i class="fa fa-cog" aria-hidden="true"></i> Cài đặt'.html_safe, edit_user_registration_path)
              %li
                = link_to('<i class="fa fa-cog" aria-hidden="true"></i> Tài liệu của tôi'.html_safe, user_upload_documents_path)    
              %li
                = link_to('<i class="lnr lnr-exit" aria-hidden="true"></i> Đăng xuất'.html_safe, 
                    destroy_user_session_path, method: :delete, data: {confirm: "Bạn thật sự muốn thoát"})             
    .navbar-btn.navbar-right.padding-20
      -# %button.btn-toggle-fullwidth{:type => "button"}
      -#   %i.lnr.lnr-arrow-right-circle
      = link_to('<i class="fa fa-cloud-upload fa-2x" aria-hidden="true" data-toggle="tooltip" title="Upload Tài liệu"></i>'.html_safe, new_document_path) if user_signed_in?
= render partial: 'shared/modal_user'
