.profile-left
  .profile-detail.padding-bottom-0
    .profile-info.margin-20.padding-10
      %h4.heading.text-danger= document.name.truncate(20)
      %ul.list-unstyled.list-justify
        %li.text-info
          Tác giả:
          %span= document.author_name
        %li.text-info
          Ngôn ngữ:
          %span= document.language.name
        %li.text-info
          Loại tài liệu:
          %span= fa_icon load_icon(document.type_doc), text: document.type_doc
        %li.text-info
          Tổng số dowload:
          %span= document.total_dowload
        %li.text-info
          Tổng số view:
          %span= document.total_view 
      %br/
      .text-center
        = link_to '<i class="fa fa-download" aria-hidden="true" data-toggle="tooltip" title="tải xuống ngay"></i> Tải xuống'.html_safe,
          asset_path(document.source_file), download: document.source_file, class:"btn btn-success btn-block"                         
      %br/
      %ul.list-inline.social-icons
        %li
          %a.facebook-bg{:href => "#"}
            %i.fa.fa-facebook
        %li
          %a.twitter-bg{:href => "#"}
            %i.fa.fa-twitter
        %li
          %a.google-plus-bg{:href => "#"}
            %i.fa.fa-google-plus
        %li
          %a.github-bg{:href => "#"}
            %i.fa.fa-github
      %br/
        