<div class="col-md-12">
  <div class="panel panel-headline">
   <div class="clearfix">
		<div class="profile-left">
			<div class="profile-detail padding-bottom-0">
				<div class="profile-info margin-20 padding-10" data-spy="affix">
					<h4 class="heading text-danger"><%= @document.name.truncate(20) %></h4>
					<ul class="list-unstyled list-justify">
					  <li class="text-info">Tác giả: <span><%= @document.author_name %></span></li>
            <li class="text-info">Ngôn ngữ: <span><%= load_language @document.language%></span></li>
            <li class="text-info">Loại tài liệu: <span><%= fa_icon load_icon(@document.type_doc), text: @document.type_doc %></span></li>
            <li class="text-info">Tổng số dowload: 
              <span><%= @document.total_dowload %></span>
            </li>
            <li class="text-info">Tổng số view: <span><%= @document.total_view %></span></li>
          </ul>
          <div class="text-center">
            <a href=<%= @document.source_file %> class="btn btn-info btn-block" target="blank">
              <%= fa_icon "eye", text: "Xem chi tiết" %> 
            </a>
          </div>
          <br/>
          <div class="text-center">
             <%= link_to '<i class="fa fa-download" aria-hidden="true" data-toggle="tooltip" title="tải xuống ngay"></i> Tải xuống'.html_safe,
              asset_path(@document.source_file), download: @document.source_file, class:"btn btn-success btn-block" %></span>
          </div>
          <br/>
          <ul class="list-inline social-icons">
						<li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="google-plus-bg"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="github-bg"><i class="fa fa-github"></i></a></li>
					</ul>
          <br/>
          <ul class="list-unstyled">
						<li>
              <span class="label label-default">bai tap c</span>
            </li>
            <li>
              <span class="label label-default">bai tap c co loi giai</span>
            </li>
            <li>
              <span class="label label-default">cau hoi va bai tap c</span>
            </li>
					</ul>
				</div>

			</div>
		</div>
		<div class="profile-right">
			<h4 class="heading text-danger text-center"><%= fa_icon "dashcube", text: @document.name %></h4>
			<div class="awards">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<%= raw(@document.description) %>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>