.col-md-4
  .thumbnail.hoverable
    .pull-right
      - if document.disabled == true
        .alert.alert-danger
          Tài liệu của bạn đã bị khóa bởi quản trị viên của hệ thống.
      - else
        = link_to('<i class="fa fa-eye padding-5" aria-hidden="true"></i>'.html_safe, document)
        = link_to('<i class="fa fa-pencil-square-o padding-5" aria-hidden="true"></i>'.html_safe, edit_document_path(document))
        = link_to('<i class="fa fa-trash-o padding-5" aria-hidden="true"></i>'.html_safe, document_path(document),
            method: :delete, data: {confirm: t(".confirm")})
    = image_tag document.image.thumb.url, class: "img-responsive height-150"
    .profile-detail.padding-bottom-0
      .profile-info.margin-20
        %h4.heading= fa_icon "file-text-o", text: "Thông tin cơ bản"
        %ul.list-unstyled.list-justify
          %li.text-muted
            Tên tài liệu:
            %span
              - if user_signed_in?
                = link_to document.name.truncate(20), document_path(document.id), data:{ toggle: "tootip", user_id: current_user.id, document_id: document.id}, title: document.name, class: "document"
              - else
                = link_to document.name.truncate(20), document_path(document.id)
          %li.text-muted
            Tác giả:
            %span
              = document.author_name.truncate(20)
          %li.text-muted
            Thể loại:
            %span
              = link_to( document.category.name, category_path(document.category))   
          %li.text-muted
            Loại tài liệu:
            %span
              = document.language.name
              = fa_icon load_icon(document.type_doc), text: document.type_doc
              = link_to '<i class="fa fa-download" aria-hidden="true" data-toggle="tooltip" title="tải xuống ngay"></i>'.html_safe,
              asset_path(document.source_file), download: document.source_file
          %li.text-muted
            Tổng số dowload:
            %span= document.total_dowload
          %li.text-muted
            Tổng số view:
            %span= document.total_view
                
