<!DOCTYPE html>
<html>
  <head>
    <title>Itdoc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'shared/nav' %>
      <%= render 'shared/sidebar' %>
      <div class="main">
        <div class="main-content">
          <div class="container-fluid">
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
